header#top-nav {
  width: 100%;
  margin: 0;
  padding: 5px;
  background-color: #2699fb;
  color: rgb(223, 204, 204);
  display: block;
}
a {
  text-decoration: none !important;
}

header#top-nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a:hover {
    color: #fff !important;
    font-weight: 600;
  }
}
.left-menu {
  width: fit-content;
  margin: 0;
  float: left;
  color: #fff;
  border: none;
  outline: none;
  ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    margin: 0;
    li {
      a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}

.middle-menu {
  width: fit-content;
}

.middle-menu > a {
  width: fit-content;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  margin: auto;
  display: block;
}

.right-menu {
  width: fit-content;
  margin: 0;
  float: right;
  padding: 10px;
  cursor: pointer;
  color: #fff;
}
.right-menu > a {
  color: #fff;
  padding: 10px;
}

.middle-menu:hover,
.right-menu:hover {
  outline: auto;
}
